<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wcy.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 高德定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Bmob -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.WeatherApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2f96bd99854c25bad867af9676c7ea63" />

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="82da7c1af25a3d6b045077813ef2032c" />

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageWeatherActivity"
            android:label="@string/moment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadImageActivity"
            android:label="@string/upload_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewImageActivity"
            android:label="@string/view_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageCityActivity"
            android:label="@string/manage_city"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddCityActivity"
            android:label="@string/add_city"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait" />
    </application>

</manifest>